/*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: "Noto Sans KR", sans-serif;
}*/
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html { 
    font-family: "S-CoreDream-3Light", sans-serif;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body.theme_space{
    --font-color : rgb(243, 243, 243);
    --input-color: rgba(255, 255, 255, 0.733);
    --border-color: rgba(255, 255, 255, 0.5);
    --button-border-color: #ffffff;
    color: rgb(243, 243, 243);
}

body.theme_sky{
    --font-color : rgb(0, 0, 0);
    --input-color: rgba(49, 49, 49, 0.801);
    --border-color: rgba(0, 0, 0, 0.719);
    --button-border-color: #6161618c;
    color: rgb(22, 21, 21);
}

.graph{
    width: 100vw;
    height: 100vh;
    background-size:cover;
}

.graph.theme_space {
    background-image: url("../image/space.png");
}

.graph.theme_sky {
    background-image: url("../image/sky.jpg");
}

.graph.theme_space {
    background-image: url("../image/space.png");
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(15, 16, 31, 0.37);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.scrollbar::-webkit-scrollbar-track {
    /* background-color: grey; */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    /* box-shadow: inset 0px 0px 5px white; */
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5e5e5e;
    border-radius: 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #43ff32;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.material-icons{
    background-color: rgba(255, 255, 255, 0);
}

.search_box {
    position: absolute;

    left: 20px;
    top: 10px;

    z-index: 1;

    display: flex;

    width: 240px;
    height: 40px;

    margin: 10px 10px;

    justify-content: center;

    border: 0px;
}

.search_box > button {
    border: 2px var(--border-color) solid;
    border-radius: 0 4px 4px 0;
    font-size: 18pt;
    color: var(--font-color);
    
}

.search_box > button:hover {
    font-weight: 600;
}

.search_box > .search {
    width: 100%;
    height: 100%;

    flex-grow: 1 1;
    flex-shrink: 1 1;

    background-color: transparent;

    border: 2px var(--border-color) solid;
    border-radius: 4px 0 0 4px;

    font-size: 18px;
    color: var(--font-color);
}

.search_box > .search::placeholder {
    color: var(--input-color);
    font-size: 12pt;
}

.autocomplete_list {
    position: absolute;
    display: block;

    z-index: 1;

    left: 32px;
    top: 60px;
    width: 202px;

    background-color: transparent;
    /* color: rgb(243, 243, 243); */

    --scroll-width: 202px;
}

.autocomplete_list > li {
    /* width: 100%;
    height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden; */
    cursor: pointer;
    display: flex;
    overflow: hidden;

    height: 25px;

    font-size: 11pt;
}

.autocomplete_list > li.active {
    /*background-color: rgb(102, 102, 102);*/
    border: 1px var(--border-color) solid;
}

.help_modal_open {
    position: absolute;
    z-index: 1;

    top: 20px;
    left: 290px;

    width: 40px;
    height: 40px;
    /* margin: 10px 10px; */

    border: 0;
    border-radius: 3px;
    
    font-size: 20pt;
    color: var(--font-color);
}

.help_modal_open:hover{
    font-size: 22pt;
    font-weight: 600;
}

.side_window {
    position: absolute;
    z-index: 1;

    width: 40px;
    height: 40px;
    margin: 10px 10px;

    border: 0px;
    
    /* background-color: rgba(0, 0, 0, 1); */
    /* color: rgba(243, 243, 243); */
}

.side_window.setting {
    left: 220px;
    top: 200px;
}

.side_window.data_info {
    right: 20px;
    top: 20px;
}

.side_window.selected_data {
    left: 220px;
    bottom: 380px;
}

.side_window.similar_data {
    right: 20px;
    bottom: 280px;
}

.side_window > button {
    position: relative;
    z-index: 2;

    width: 40px;
    height: 40px;

    color: var(--font-color);
    border: 0px var(--border-color) solid;
}

.side_window > button:hover {
    font-size: 20pt;
    font-weight: 600;
}

/* .side_window > button:active {
    color: rgb(177, 177, 177);
} */

.side_window > .window {
    position: absolute;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    width: 0px;
    height: 0px;

    border-width: 0px;
    border-radius: 5px; /* 수정 */
    border: 2px var(--border-color) solid;

    transform: translateY(-40px);
    transition: 0.4s;
}

.side_window.open > .window {
    transform: translateX(calc(40px - 100%)) translateY(-40px);
}

.side_window.setting.open > .window {
    width: 240px;
    height: 250px;
}

.side_window.data_info.open > .window {
    width: 240px;
    height: 480px;
}

.side_window.data_info.open.expand > .window{
    width: 370px;
    height: 600px;
}

.side_window.selected_data.open > .window {
    width: 240px;
    height: 400px;
}

.side_window.similar_data.open.middle > .window {
    width: 240px;
    height: 300px;
}

.side_window.similar_data.open.big > .window {
    width: 240px;
    height: 400px;
}

.side_window.similar_data.open.small > .window {
    width: 240px;
    height: 200px;
}

.side_window > .window > .title {
    width: calc(100% - 40px);
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16pt;
    font-weight: 600;
    margin: 0px 0px 0px 15px;
}

.side_window > .window > .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2px 15px 15px 15px;
}

.side_window > .window > .content > .inner_content {
    flex-grow: 1;
}

.side_window.data_info > .window > .content > .inner_content > .content_list {
    /* display: flex; */
    /* flex-direction: column; */
    list-style-type: disc;

    height: 380px;

    font-size: 14pt;
    font-weight: 600;

    border: 2px var(--border-color) solid;
    list-style-type: none;
}

.side_window.data_info > .window > .content > .inner_content > .content_list > li {
    flex-basis: 0;
    flex-grow: 1;


    padding: 8px;
    /*text-align: center; */
}


.side_window.data_info > .window > .content > .inner_content > .content_list > li > .val {
    display: block;

    height: calc(2em + 12px);

    overflow-y: scroll;
    
    margin-top: 7px;
    margin-bottom: 5px;

    font-size: 12pt;
    font-weight: 400;
    line-height: normal;
}

.side_window.data_info > .window > .content > .inner_content > .content_list > li:nth-child(3) > .val {
    height: calc(8em + 12px);
}


.side_window.data_info > .window > .content > .inner_content > .content_table {
    display: flex;
    flex-direction: column;

    height: 100%;

    border: 2px var(--border-color) solid;
}

.side_window.data_info > .window > .content > .inner_content > .content_table > tr{
    flex-grow: 1;
    display: flex;
}

.side_window.data_info > .window > .content > .inner_content > .content_table > tr > th {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    flex-grow: 3;
    flex-basis: 0;

    font-size: 14pt;
    font-weight: 600;
}

.side_window.data_info > .window > .content > .inner_content > .content_table > tr > td {
    display: inline-flex;
    align-items: center;

    
    flex-grow: 7;
    flex-basis: 0;

    padding-left: 10px;

    font-size: 10pt;
    text-align: -internal-center;
    line-height: normal;
}

.side_window.data_info > .window > .content > .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.side_window.data_info > .window > .content > .buttons > button {
    /*margin: 5% 0% 0% 0%;*/
    flex-grow: 1;
    flex-basis: 0;

    height: 30px;
    margin: 0 4px;

    background-color: transparent;
    border-radius: 5px;
    border: 2px var(--border-color) solid;

    color: var(--font-color);

    font-family: "S-CoreDream-3Light", sans-serif;
    font-size: 10pt;
}

.side_window.data_info > .window > .content > .buttons > button:hover {
    border-color: var(--button-border-color);
}

.side_window.data_info > .window > .content > .buttons > a {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: 0;
    flex-grow: 0;

    width: 0;
    height: 30px;

    border-width: 0px;

    color: var(--font-color);
    font-family: "S-CoreDream-3Light", sans-serif;
    font-size: 10pt;

    overflow: hidden;
}

.side_window.data_info.expand > .window > .content > .buttons > a {
    flex-grow: 1;
    border: 2px var(--border-color) solid;
}

.side_window.data_info > .window > .content > .buttons > a:hover {
    border-color: var(--button-border-color);
}


.side_window.setting > .window > .content > .setting_list {
    display: flex;
    flex-direction: column;
    border: 2px var(--border-color) solid;
}

.side_window.setting > .window > .content > .setting_list > li {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
    font-weight: 600;
}

.side_window.setting > .window > .content > .setting_list > li > select {
    text-align: center;

    border-radius: 5px;

    color: white;
    font-size: 11pt;

    background-color: #272727;
}

.side_window.setting > .window > .content > .setting_list > li > .toplc_select {
    width: 90px;
}

.side_window.setting
    > .window
    > .content
    > .setting_list
    > li
    > .similar_select {
    width: 60px;
}

.side_window.setting > .window > .content > .setting_list > li > select {
    text-align: center;

    border-radius: 5px;

    /* color: white; */
    font-size: 11pt;

    background-color: #272727;
}

.side_window.setting > .window > .content > .graph_modal_open {
    width: 100%;
    height: 35px;
    margin: 6% 0% 0% 0%;

    background-color: transparent;
    border-radius: 5px; /* 수정 */
    border: 2px var(--border-color) solid;

    /* color: rgb(214, 214, 214); */

    font-size: 10pt;
}

.side_window.setting > .window > .content > .graph_modal_open:active {
    border-color: white;
}

.side_window.selected_data > .window > .content > .selected_list {
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: scroll;
    border: 2px var(--border-color) solid;
    margin-top: 3px;
}

.side_window.selected_data > .window > .content > .selected_list > li {
    display: flex;
    align-items: center;
    overflow: hidden;

    height: 20%;
    border-radius: 5px;
    /*border: solid 1px rgb(153, 153, 153);*/

    --scroll-width: 190px;
}

.side_window.similar_data > .window > .content > .similar_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    border: 2px var(--border-color) solid;
}

.side_window.similar_data > .window > .content > .similar_list > li {
    display: flex;
    align-items: center;
    overflow: hidden;

    flex-grow: 1;

    height: 10%;
    border-radius: 5px;
    /*border: solid 1px rgb(153, 153, 153);*/

    --scroll-width: 200px;
}

.scrolled_text {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    min-width: 100%;
    white-space: nowrap;
    animation: slide 10s linear infinite;
}

.scrolled_text:hover {
    font-weight: 600;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(calc(-100% + var(--scroll-width)));
    }
    100% {
        transform: translateX(calc(-100% + var(--scroll-width)));
    }
}

.side_window.selected_data > .window > .content > .topic_window_open {
    margin: 7% 0% 0% 0%;
    flex-grow: 1;
    flex-basis: 0;

    width: 100%;
    height: 35px;

    background-color: transparent;
    border-radius: 5px; /* 수정 */
    border: 2px var(--border-color) solid;

    color: var(--font-color);

    font-size: 10pt;
}

.side_window.selected_data > .window > .content > .topic_window_open:hover {
    border-color: var(--button-border-color);
}

.side_window.selected_data > .window > .content > input {
    margin: 7% 0% 0% 0%;
    flex-grow: 1;
    flex-basis: 0;

    width: 100%;
    height: 35px;

    background-color: transparent;
    border-radius: 5px; /* 수정 */
    border: 2px var(--border-color) solid;

    color: var(--font-color);

    font-size: 10pt;
}

.side_window.selected_data > .window > .content > input::placeholder {
    color: var(--input-color);
    text-align: center;
}

.side_window.selected_data > .topic_window {
    position: absolute;
    overflow: hidden;

    width: 0;
    height: 250px;

    top: 150px;
    left: 40px;

    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;

    border-radius: 5px;

    transition: 0.4s;
}

.side_window.selected_data > .topic_window.open {
    width: 240px;
    padding: 0px 10px 10px 10px;
    border: 2px var(--border-color) solid;
}

.side_window.selected_data > .topic_window > .topic_window_close {
    width: 40px;
    height: 40px;
    z-index: 4;

    position: absolute;
    top: 0;
    right: 0;

    border: 0px;

    background-color: rgba(0, 0, 0, 0);

    font-size: 20pt;
    color: red;
}

.side_window.selected_data > .topic_window > .topic_window_close:hover {
    font-size: 22pt;
    font-weight: 600;
}

.side_window.selected_data > .topic_window > .title {
    width: calc(100% - 40px);
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16pt;
    font-weight: 600;
    margin: 0px 0px 0px 15px;
}

.side_window.selected_data > .topic_window > .topic_list {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    border: 2px var(--border-color) solid;

    --scroll-width: 212px;
}

.side_window.selected_data > .topic_window > .topic_list > li {
    
    display: flex;
    align-items: center;
    overflow: hidden;

    flex-grow: 1;

    height: 20%;
    border-radius: 5px;
}

.modal_overlay {
    width: 100%;
    height: 100%;

    z-index: 1;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(75, 75, 75, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal_overlay > .modal_window {
    width: 800px;
    height: 350px;

    position: relative;
    /* top: -100px; */

    padding: 10px;

    background: rgba(51, 51, 51, 0.7);
    box-shadow: 0 8px 32px 0 rgba(15, 16, 31, 0.37);

    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);

    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;

    line-height: 1.5em;
}

.modal_overlay > .modal_window > .help_modal_close {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 0;
    right: 0;

    border: 0px;

    background-color: rgba(0, 0, 0, 0);

    font-size: 20pt;
    color: red;
}

.modal_overlay > .modal_window > .help_modal_close:hover {
    font-size: 22pt;
    font-weight: 600;
}

.modal_overlay > .modal_window > .modal_close_button:active {
    font-weight: 600;
}

.modal_overlay > .modal_window > .modal_title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20pt;
    font-weight: 600;
}

.modal_overlay > .modal_window > .modal_content > .slide_left {
    width: 40px;
    height: 40px;

    position: absolute;
    top: calc(50% - 20px);
    left: 0;

    border: 0px;

    background-color: rgba(0, 0, 0, 0);

    font-size: 20pt;
    color: yellow;
}

.modal_overlay > .modal_window > .modal_content > .slide_right {
    width: 40px;
    height: 40px;

    position: absolute;
    top: calc(50% - 20px);
    right: 0;

    border: 0px;

    background-color: rgba(0, 0, 0, 0);

    font-size: 20pt;
    color: yellow;
}
.modal_overlay > .modal_window > .modal_content > button:hover{
    font-size: 22pt;
    font-weight: 600;
}

.modal_overlay > .modal_window > .modal_content > .slide {
    width: 688px;
    margin: 20px 50px 50px 40px;
    overflow: hidden;

    background-color: transparent;
}

.modal_overlay > .modal_window > .modal_content > .slide > ul {
    width: calc(100% * 6);

    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    transition: 0.5s ease-in-out;
}

.modal_overlay > .modal_window > .modal_content > .slide > ul > li {
    display: block;
    flex-shrink: 0;

    width: calc(100% / 6);
    transition: 0.5s ease-in-out;
}

.hidden {
    display: none;
}

.node-label {
    color: var(--font-color);
    font-weight: bold;
    font-family: "Noto Sans KR";
}

