/*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: "Noto Sans KR", sans-serif;
}*/
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html { 
    font-family: "S-CoreDream-3Light", sans-serif;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*html {
    font-family: "Nanum Gothic", sans-serif;
}*/

.graph{
    width: 100vw;
    height: 100vh;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(15, 16, 31, 0.37);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.scrollbar::-webkit-scrollbar-track {
    /* background-color: grey; */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    /* box-shadow: inset 0px 0px 5px white; */
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5e5e5e;
    border-radius: 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #43ff32;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.material-icons{
    background-color: rgba(255, 255, 255, 0);
}

.search_box {
    position: absolute;

    left: 20px;
    top: 10px;

    z-index: 1;

    display: flex;

    width: 240px;
    height: 40px;

    margin: 10px 10px;

    justify-content: center;

    border: 0px;
}

.search_box > button {
    border: 2px rgba(255, 255, 255, 0.5) solid;
    border-radius: 0 4px 4px 0;
    font-size: 18px;
}

.search_box > button:active {
    background: rgba(255, 255, 255, 0.5);
}

.search_box > .search {
    width: 100%;
    height: 100%;

    flex-grow: 1 1;
    flex-shrink: 1 1;

    background-color: transparent;

    border: 2px rgba(253, 255, 255, 0.5) solid;
    border-radius: 4px 0 0 4px;

    font-size: 18px;
    color: white;
}

.search_box > .search::placeholder {
    color: #b4b4b4;
    font-size: 12pt;
}

.autocomplete_list {
    position: absolute;
    display: block;

    z-index: 1;

    left: 32px;
    top: 60px;
    width: 202px;

    background-color: transparent;
    color: rgb(243, 243, 243);

    --scroll-width: 202px;
}

.autocomplete_list > li {
    /* width: 100%;
    height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden; */
    cursor: pointer;
    display: flex;
    overflow: hidden;

    height: 25px;

    font-size: 11pt;
}

.autocomplete_list > li.active {
    /*background-color: rgb(102, 102, 102);*/
    border: 1px rgba(255, 255, 255) solid;
}

.side_window {
    position: absolute;
    z-index: 1;

    width: 40px;
    height: 40px;
    margin: 10px 10px;

    border: 0px;
    
    /* background-color: rgba(0, 0, 0, 1); */
    color: rgba(243, 243, 243);
}

.side_window.setting {
    left: 220px;
    top: 200px;
}

.side_window.data_info {
    right: 20px;
    top: 20px;
}

.side_window.selected_data {
    left: 220px;
    top: 500px;
}

.side_window.similar_data {
    right: 20px;
    top: 550px;
}

.side_window > button {
    position: relative;
    z-index: 2;
    /* background-color: black; */

    width: 40px;
    height: 40px;

    color: rgba(255, 255, 255);
    border: 0px rgba(255, 255, 255, 0.5) solid;
}

.side_window > button:active {
    color: rgb(177, 177, 177);
}

.side_window > .window {
    position: absolute;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    width: 0px;
    height: 0px;

    border-width: 0px;
    border-radius: 5px; /* 수정 */
    border: 2px rgba(255, 255, 255, 0.5) solid;

    transform: translateY(-40px);
    transition: 0.4s;
}

.side_window.open > .window {
    transform: translateX(-200px) translateY(-40px);
}

.side_window.setting.open > .window {
    width: 240px;
    height: 280px;
}

.side_window.data_info.open > .window {
    width: 240px;
    height: 480px;
}

.side_window.selected_data.open > .window {
    width: 240px;
    height: 400px;
}

.side_window.similar_data.open > .window {
    width: 240px;
    height: 350px;
}

.side_window > .window > .title {
    width: 200px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16pt;
    font-weight: 600;
    margin: 0px 0px 0px 15px;
}

.side_window > .window > .content {
    flex-grow: 1;
    padding: 2px 15px 15px 15px;
}

.side_window.data_info > .window > .content > .content_list {
    list-style-type: disc;

    height: 380px;

    font-size: 14pt;
    font-weight: 600;

    border: 2px rgba(255, 255, 255, 0.5) solid;
    list-style-type: none;
}

.side_window.data_info > .window > .content > .content_list > li {
    margin: 8px;
    text-align: center;
}

.side_window.data_info > .window > .content > .content_list > li > .val {
    display: block;
    height: 2rem;

    margin-top: 3px;
    margin-bottom: 10px;

    font-size: 12pt;
    font-weight: 400;
    text-align: center;
}

.side_window.data_info
    > .window
    > .content
    > .content_list
    > li:nth-child(1)
    > .val {
    height: 1rem;
}

.side_window.data_info
    > .window
    > .content
    > .content_list
    > li:nth-child(2)
    > .val {
    height: 3rem;
}

.side_window.data_info
    > .window
    > .content
    > .content_list
    > li:nth-child(4)
    > .val {
    height: 1rem;
}

.side_window.data_info
    > .window
    > .content
    > .content_list
    > li:nth-child(5)
    > .val {
    height: 7rem;
    overflow-y: scroll;
}

.side_window.data_info > .window > .content > .buttons {
    display: flex;
    justify-content: space-around;
}

.side_window.data_info > .window > .content > .buttons > button {
    /*margin: 5% 0% 0% 0%;*/
    flex-grow: 1;
    flex-basis: 0;

    height: 30px;

    background-color: transparent;
    border-radius: 5px;
    border: 2px rgb(153, 153, 153) solid;

    color: rgb(214, 214, 214);

    font-size: 10pt;
}

.side_window.data_info > .window > .content > .buttons > button {
    margin: 5% 3.5% 0% 0%;
}

.side_window.data_info > .window > .content > .buttons > button {
    margin: 5% 0% 0% 3.5%;
}

.side_window.data_info > .window > .content > .buttons > button:active {
    border-color: white;
}

.side_window.setting > .window > .content > .setting_list {
    display: flex;
    flex-direction: column;
    border: 2px rgba(255, 255, 255, 0.5) solid;
}

.side_window.setting > .window > .content > .setting_list > li {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
    font-weight: 600;
}

.side_window.setting > .window > .content > .setting_list > li > select {
    text-align: center;

    border-radius: 5px;

    color: white;
    font-size: 11pt;

    background-color: #272727;
}

.side_window.setting > .window > .content > .setting_list > li > .toplc_select {
    width: 90px;
}

.side_window.setting
    > .window
    > .content
    > .setting_list
    > li
    > .similar_select {
    width: 60px;
}

.side_window.setting > .window > .content > .setting_list > li > select {
    text-align: center;

    border-radius: 5px;

    color: white;
    font-size: 11pt;

    background-color: #272727;
}

.side_window.setting > .window > .content > .graph_modal_open {
    width: 100%;
    height: 35px;
    margin: 6% 0% 0% 0%;

    background-color: transparent;
    border-radius: 5px; /* 수정 */
    border: 2px rgb(153, 153, 153) solid;

    color: rgb(214, 214, 214);

    font-size: 10pt;
}

.side_window.setting > .window > .content > .graph_modal_open:active {
    border-color: white;
}

.side_window.selected_data > .window > .content > .selected_list {
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: scroll;
    border: 2px rgba(255, 255, 255, 0.5) solid;
    margin-top: 3px;
}

.side_window.selected_data > .window > .content > .selected_list > li {
    display: flex;
    align-items: center;
    overflow: hidden;

    height: 20%;
    border-radius: 5px;
    /*border: solid 1px rgb(153, 153, 153);*/

    --scroll-width: 190px;
}

.side_window.similar_data > .window > .content > .similar_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    border: 2px rgba(255, 255, 255, 0.5) solid;
}

.side_window.similar_data > .window > .content > .similar_list > li {
    display: flex;
    align-items: center;
    overflow: hidden;

    flex-grow: 1;

    height: 10%;
    border-radius: 5px;
    /*border: solid 1px rgb(153, 153, 153);*/

    --scroll-width: 200px;
}

.scrolled_text {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    min-width: 100%;
    white-space: nowrap;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(calc(-100% + var(--scroll-width)));
    }
    100% {
        transform: translateX(calc(-100% + var(--scroll-width)));
    }
}

.side_window.selected_data > .window > .content > .topic_modal_open {
    margin: 7% 0% 0% 0%;
    flex-grow: 1;
    flex-basis: 0;

    width: 100%;
    height: 35px;

    background-color: transparent;
    border-radius: 5px; /* 수정 */
    border: 2px rgb(153, 153, 153) solid;

    color: rgb(214, 214, 214);

    font-size: 10pt;
}

.side_window.selected_data > .window > .content > .topic_modal_open:active {
    border-color: white;
}

.side_window.selected_data > .window > .content > input {
    margin: 7% 0% 0% 0%;
    flex-grow: 1;
    flex-basis: 0;

    width: 100%;
    height: 35px;

    background-color: transparent;
    border-radius: 5px; /* 수정 */
    border: 2px rgb(153, 153, 153) solid;

    color: rgb(214, 214, 214);

    font-size: 10pt;
}

.side_window.selected_data > .window > .content > input::placeholder {
    text-align: center;
}

.modal_overlay {
    width: 100%;
    height: 100%;

    z-index: 1;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(75, 75, 75, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal_overlay > .modal_window {
    width: 600px;
    height: 500px;

    position: relative;
    top: -100px;

    padding: 10px;

    background: rgba(51, 51, 51, 0.7);
    box-shadow: 0 8px 32px 0 rgba(15, 16, 31, 0.37);

    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);

    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
}

.modal_overlay > .modal_window > .modal_close_button {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 0;
    right: 0;

    border: 0px;

    background-color: rgba(0, 0, 0, 0);

    font-size: 20pt;
    color: red;
}
.modal_overlay > .modal_window > .modal_close_button:active {
    font-weight: 600;
}

.modal_overlay > .modal_window > .modal_title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20pt;
    font-weight: 600;
}

.modal_overlay > .graph_make_modal > .modal_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal_overlay > .graph_make_modal > .modal_content > .graph_options {
    list-style-type: disc;
    padding-left: 20px;
}

.modal_overlay > .graph_make_modal > .modal_content > .graph_options > li {
    margin-top: 15px;
}

.modal_overlay
    > .graph_make_modal
    > .modal_content
    > .graph_options
    > li
    > label {
    font-size: 18pt;
}

.modal_overlay
    > .graph_make_modal
    > .modal_content
    > .graph_options
    > li
    > .tag_list {
    padding: 5px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    list-style-type: none;
}

.modal_overlay
    > .graph_make_modal
    > .modal_content
    > .graph_options
    > li
    > .option_list {
    padding: 5px;
    display: flex;
    justify-content: flex-start;

    list-style-type: none;
}

.modal_overlay
    > .graph_make_modal
    > .modal_content
    > .graph_options
    > li
    > .option_list
    > li {
    flex-grow: 1;
}

.modal_overlay > .graph_make_modal > .modal_content > .graph_make {
    width: 80%;
    height: 40px;
    margin: 20px auto 0;

    background: #6d6d6d;
    border: 0px;
    border-radius: 10px;

    font-size: 18px;
    color: white;

    background-color: #272727;
    border-radius: 7px;
    border: 2px rgb(153, 153, 153) solid;

    color: rgb(214, 214, 214);
}

.modal_overlay > .graph_make_modal > .modal_content > .graph_make:active {
    border-color: white;
}

.modal_overlay > .detail_info_modal > .modal_content > .detail_list {
    margin-left: 5px;
    padding-left: 20px;
    list-style-type: disc;

    height: 380px;
    overflow-y: scroll;

    font-size: 14pt;
    font-weight: 600;
}

.modal_overlay
    > .detail_info_modal
    > .modal_content
    > .detail_list
    > li
    > .val {
    display: block;

    margin-top: 3px;
    margin-bottom: 10px;

    font-size: 12pt;
    font-weight: 400;
}

.modal_overlay > .detail_info_modal > .modal_content > .buttons {
    display: flex;
    justify-content: space-around;
}

.modal_overlay > .detail_info_modal > .modal_content > .buttons > * {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 10px 10px 10px;
    flex-grow: 1;
    flex-basis: 0;

    height: 40px;

    background-color: #272727;
    border-radius: 5px;
    border: 2px rgb(153, 153, 153) solid;

    color: rgb(214, 214, 214);

    font-size: 13pt;
}

.modal_overlay
    > .detail_info_modal
    > .modal_content
    > .buttons
    > button:active {
    border-color: white;
}

.hidden {
    display: none;
}
