<head>
    <style>
      body {
        margin: 0;
      }
    </style>
    <script src="//unpkg.com/3d-force-graph"></script>
  </head>
  
  <body>
    <div id="3d-graph"></div>
  
    <script>
      const Graph = ForceGraph3D()(document.getElementById("3d-graph"))
        .jsonUrl("/web/node-coordinate/") 
        .nodeLabel("name") // hover print
        .nodeAutoColorBy("group")
        .nodeResolution(100)
        .onNodeDragEnd((node) => {
          node.fx = node.x;
          node.fy = node.y;
          node.fz = node.z;
          console.log(node.x, node.y, node.z);
        });
    </script>
  </body>
  
