<h1>Opendata</h1>
<form method="post">
  {% csrf_token %}
  <button type="submit">Add to cart</button>

<table>
  <thead>
    <tr>
      <th>Service ID</th>
      <th>Product</th>
      <th>Category</th>
    </tr>
  </thead>
<tbody>
  {% for item in datacart_list %}
    <tr>
      <td>{{ item.service_id }}</td>
      <td>{{ item.product }}</td>
      <td>{{ item.category }}</td>
      <td>
        <form action="{% url 'web:list-page' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="item_id" value="{{ item.product_id }}">
          <button type="submit">Remove</button>
        </form>
      </td>
    </tr>
      {% endfor %}
    </tbody>
  </table>

<table>
    <thead>
      <tr>
        <th>서비스ID</th>
        <th>서비스명</th>
        <th>소분류</th>
        <th>서비스설명</th>
      </tr>
    </thead>
    <tbody>
      {% for data in seouldata_list %}
      <tr>
        <td><input type="checkbox" name="selected_items" value="{{ data.id }}">{{ data.서비스ID }}</td>
        <td>{{ data.서비스명 }}</td>
        <td>{{ data.소분류 }}</td>
        <td>{{ data.서비스설명 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

<script>

</script>
